.chat {
  height: calc(100vh - 5rem);
  display: flex;

  font-size: 1.6rem;
}

.chat-menu {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.chat-menu-container {
  flex: 3;
}

.chat-menu-input {
  width: 90%;
  padding: 1rem 1rem;
  margin: 2rem 0;

  border: 1px solid var(--secondary-color);
}

.chat-box-container {
  flex: 7;
}

.chat-menu,
.chat-box {
  padding: 1rem;
}

.chat-box {
  /* position: relative; */
  display: flex;

  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chat-box-middle {
  display: flex;

  flex-direction: column;
  gap: 2rem;
  padding-right: 0.8rem;
  overflow-y: scroll;
}

.chat-box-bottom {
  /* position: absolute;
  bottom: 3rem; */

  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  height: 10%;

  /* background-color: aqua; */
}

.chat-msg-input {
  flex: 9;
  height: 6rem;
  max-height: 100%;
  padding: 1rem;

  resize: none;
  border-radius: 1rem;
  color: var(--dark-text-color);

  font-size: 1.3rem;
}

.chat-msg-submit-btn {
  flex: 1;
  height: 6rem;

  border: none;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  color: var(--dark-text-color);

  cursor: pointer;
}
