@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

:root {
  --primary-color: rgb(237, 146, 231);
  --secondary-color: rgb(244, 240, 244);
  --sent-color: #545456;
  --received-color: rgb(237, 237, 237);
  --light-color: rgb(255, 255, 255);
  --success-color: #4864d4;
  --error-color: rgb(84, 26, 80);
  --dark-text-color: #333;
  --light-text-color: #FFFFF;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // padding: 0;
  // margin: 0;

  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  // font-family: 'Lato', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2rem;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}
